.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homeContainer__contact,
.homeContainer__about {
  width: 45%;
  padding: 0 8px;
}

/* media queries */
@media screen and (max-width: 600px) {
  .homeContainer__about,
  .homeContainer__contact {
    width: 100%;
  }
}
