@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}

.main {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}
